body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Kaushan Script', monospace;
	font-size: 3em;
	color: #999;
}

.birb {
	height: 250px;
	width: 250px;
	margin-left: -250px;
	object-fit: contain;
	position: absolute;
	top: var(--top);
	left: var(--left);
	
	animation-name: fly;
	animation-duration: var(--speed);
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

#flock {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.fade {
	transition-duration: 1s;
	transition-property: opacity;
	opacity: 0;
}

@keyframes fly {
	from {
		transform: translateX(0vw) translateY(0px);
	}
	to {
		transform: translateX(calc(100vw + 36em * 2)) translateY(var(--end));
	}
}